{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "semi": false,
        "singleQuote": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "extends": [
        "airbnb-typescript",
        "next",
        "next/core-web-vitals",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "trailingComma": "none",
            "semi": false,
            "singleQuote": true
          }
        ],
        "react/destructuring-assignment": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/require-default-props": "off",
        "@next/next/no-img-element": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-props-no-spreading": "off"
      }
    }
  ]
}
